altgraph==0.17.5
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
fonttools==4.60.1
kiwisolver==1.4.9
matplotlib==3.10.7
numpy==2.3.4
packaging==25.0
pillow==12.0.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2025.11
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.1
pyqtgraph==0.14.0
python-dateutil==2.9.0.post0
segno==1.6.6
setuptools==80.9.0
six==1.17.0
xlsxwriter==3.2.9
